.header {
  padding: 30px;
  color: rgb(255, 255, 255);
  background-color: rgb(73, 86, 131);

  h1 {
    font-size: 20px;
    margin: 1rem;
    position: absolute;
    top: 0px;
    left: 0px;
  }

  nav {
    margin-top: 1rem;
    position: absolute;
    top: 0px;
    right: 0px;

    a {
      margin-right: 1rem;
      color: rgb(255, 255, 255);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

//KILDER fra Malene: https://www.w3schools.com/cssref/pr_class_position.php
//  https://www.w3schools.com/css/css_font_size.asp